
TriangleIdentifier/.vs/TriangleIdentifier/v16/.suo
TriangleIdentifier/TriangleIdentifier.ConsoleApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TriangleIdentifier/TriangleIdentifier.ConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TriangleIdentifier/TriangleIdentifier.ConsoleApp/obj/Debug/TriangleIdentifier.ConsoleApp.csproj.FileListAbsolute.txt
TriangleIdentifier/TriangleIdentifier.ConsoleApp/obj/Debug/TriangleIdentifier.ConsoleApp.csproj.CoreCompileInputs.cache
TriangleIdentifier/TriangleIdentifier.ConsoleApp/obj/Debug/TriangleIdentifier.ConsoleApp.csprojAssemblyReference.cache
TriangleIdentifier/TriangleIdentifier.ConsoleApp/obj/Debug/TriangleIdentifier.ConsoleApp.exe
TriangleIdentifier/TriangleIdentifier.ConsoleApp/obj/Debug/TriangleIdentifier.ConsoleApp.pdb
TriangleIdentifier/.vs/TriangleIdentifier/v16/TestStore/0/000.testlog
TriangleIdentifier/.vs/TriangleIdentifier/v16/TestStore/0/testlog.manifest
TriangleIdentifier/TriangleIdentifier.UnitTest/obj/Debug/TriangleIdentifier.UnitTest.csproj.FileListAbsolute.txt
TriangleIdentifier/TriangleIdentifier.UnitTest/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TriangleIdentifier/TriangleIdentifier.UnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
